<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Animal Code Challenge</title>
    <script type="text/javascript" src="vendors/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="client.js" charset="utf-8"></script>
  </head>
  <body>
    <h2>Animal Inventory</h2>

    <input type="text" id="animalIn" name="animalIn" value="" placeholder="Animal, please">
    <button type="submitAnimal" id="submitAnimal" name="submitAnimal" onclick="window.location.reload();">Submit Animal</button>

<div id="outputDiv"></div>
  </body>
</html>
